body
    font-family Calibri, Verdana, Helvetica, Arial, sans-serif
    text-align center

.jumbotron
    background-image url(jumboback.jpg)
    background-repeat no-repeat
    vertical-align middle
    background-size cover